<nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top">
    <div class="container-fluid"><a class="navbar-brand" href="#" th:text="#{label.home}">CRM System</a><button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button><div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/}" th:text="#{label.navText1}">All Applications</a>
            </li>
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" th:href="@{'/newApps'}" th:text="#{label.navText2}">New Applications</a>
            </li>
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" th:href="@{'/handledApps'}" th:text="#{label.navText3}">Handled Applications</a>
            </li>
        </ul>
            <ul class="navbar-nav"><li class="nav-item">
                <a class="nav-link" th:href="@{'/addApp'}" th:text="#{label.navText4}">+ Add Application</a>
            </li>
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="?lng=ru">RUS</a>
            </li>
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="?lng=en">ENG</a>
            </li>
        </ul>
    </div>
    </div>
</nav>