<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <title>New Applications</title>
    <link type="text/css" rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.bundle.js}"></script>
</head>

<body data-bs-theme="dark">
<div class="container p-3" th:insert="navbar.html"></div>
<div class="container p-5">
    <div class="row">
        <!-- Loop through requests and create two columns for each request -->
        <div th:each="request:${newRequests}" class="col-md-6 mb-3">
            <div class="card mb-3 mx-2" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title" th:style="${request.isHandled() ? '' : 'color: #ff4517'}"
                        th:utext="${request.isHandled() ? '' : '*(NEW)'}"></h5>
                    <h5 class="card-title" th:text="${'Application from ' + request.getUserName()}"></h5>
                    <h6 class="card-subtitle mb-2 text-body-secondary" th:text="'Course: ' + ${request.getCourseId().name}"></h6>
                    <p class="card-text" th:text="'*'+${request.getCommentary()}+'*'"></p>
                    <a th:text="'Tel: '+${request.getPhone()}"></a>
                    <a th:href="@{'/details/'+${request.getId()}}" class="card-link">More...</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>
